# systemd config
# /usr/lib/systemd/system/article-admin.service
[Unit]
Description=Cron Admin

[Service]
WorkingDirectory=/opt/article-admin
ExecStart=/opt/article-admin/article-admin
Restart=always

[Install]
WantedBy=multi-user.target
